<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/momcake" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-index.css">

    <title>CoffeShop</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="images/logo.png" alt="Logo CoffeShop">
            </div>
            <div class="registro">
                <div class="login">
                    <i class="fas fa-user"></i>
                </div>
                <div class="compras">
                    <i class="fas fa-shopping-basket"></i>
                </div>

            </div>
        </div>
        <div class="barra-secundaria">
            <nav>
                <ul>

                    <li><a href="#"><i class="fas fa-coffee"></i> Café</a></li>
                    <li><a href="#"><i class="fas fa-home"></i> Tiendas </a></li>
                    <li><a href="#"><i class="fas fa-gift"></i> Regalos</a></li>
                </ul>

            </nav>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>


    <main>

        <section class="imagen-principal">
            <img src="https://fakeimg.pl/1100x1162/?text=ImgPPal">
        </section>

        <section class="prods-principales">
            <article class="producto">

                <div class="imag-producto">
                    <img src="images/img-cafetera-moulinex.jpg">
                </div>

                <div class=datos-producto>
                    <h3 class="titulo-producto">Cafetera Moulinex</h3>

                    <p class="descripcion-producto">Reinventa tus momentos de café con toda la versatilidad que Moulinex
                        trae para ti</p>

                    <h4 class="oferta-producto">15% OFF + 22 cápsulas de obsequio
                        Ahora: $ 0.0000* </h4>

                    <p class="condiciones-producto">*El descuento aplica durante el pago</p>
                </div>
                <div class="mas-informacion">Más información</div>

            </article>

        </section>

        <section class="productos-relacionados">
            <h2 class="titulo-productos relacionados">Productos relacionados</h2>
            <article class="art-prod-relacionados">
                <div class="imag-producto-relacionados">
                    <img src="https://fakeimg.pl/200x200/?text=ImgProdRel">
                </div>
                <div class="info-producto-relacionado">
                <h3 class="titulo-productos-relacionados">Nombre de producto</h3>
                <div class="precio-producto-relacionado-agregar">
                    <p>$0.000</p>
                    <i class="fas fa-plus-square"></i>
                </div>
            </div>


            </article>
        </section>

    </main>



    <footer>

        <section class="pie_pagina">
            <div class="logo_footer">
                <img src="images/logo.png" alt="Logo CoffeShop">
            </div>
            <hr style="color: #b20000;" />
            <article>
                <div class="pasarela_pago">

                    <i class="fas fa-credit-card"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>

                    <p class="descripcion_pasarela">
                        Con CoffeShop, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
            </article>
            <article>
                <div class="envio">
                    <i class="fas fa-gift"></i>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p class="descripcion_envio">
                        Solo por estar registrad@ en CoffeShop tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
            </article>
            <article>
                <div class="seguridad">

                    <i class="fas fa-user-shield"></i>
                    <h5>Seguridad, de principio a fin</h5>

                    <p class="descripcion_seguridad">
                        ¿No te gusta? ¡Devolvelo! En CoffeShop, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div>
            </article>
        </section>

        <section class="Copyright">

            <p>Copyright © 2022 CoffeShop</p>

        </section>


    </footer>

</body>

</html>