<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9152e254be.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles_.css">
    <link rel="stylesheet" href="css/styles-index_.css">
    <title>Barizta</title>
</head>

<body>
    <header id="header">
        <div class="primera-barra">
            <div class="logo">
                <img src="images/barizta-logo.png" alt="Logo Barizta">
            </div>
            <div class="usuario-carrito">
                <div class="usuario"><i class="fa-solid fa-user"></i></div>
                <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
            </div>
        </div>
        <nav class="barra-navegacion">
            <ul>
                <li><a href="#"><i class="fas fa-coffee"></i> Café</a></li>
                <li><a href="#"><i class="fas fa-home"></i> Tiendas </a></li>
                <li><a href="#"><i class="fas fa-gift"></i> Regalos</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <section class="seccion-imagen-principal">
            <div class="imagen-hero">
                <div class="texto-hero">
                    <h1> Barizta...</h1>
                    <p>Pasión por el café.</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>