<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/momcake" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles-shopping-cart.css">

    <title>CoffeShop</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <a href="/"><img src="images/logo.png" alt="Logo CoffeShop"></a>
            </div>
            <div class="registro">
                <div class="login"> 
                    <i class="fas fa-user"></i>
                </div>
                <div class="compras"> 
                    <i class="fas fa-shopping-basket"></i>
                </div>

            </div>
        </div>
        <div class="barra-secundaria">
        <nav>
            <ul>
                
                <li><a href="#"><i class="fas fa-coffee"></i>  Café</a></li>
                <li><a href="#"><i class="fas fa-home"></i>  Tiendas </a></li>
                <li><a href="#"><i class="fas fa-gift"></i>  Regalos</a></li>
            </ul>
            
        </nav>
    </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <section class="Cart">
            <div class="title">
                <h2>Tu carrito</h2>
            </div>
                <div>
                    <a href="/">Agregar al carrito</a>
                </div>
                <div>
                    <a href="">Pagar</a>
                </div>
        </section>
        <section class="product">
           <div>
                <article>
                
                    <div class="img-product">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    </div>
                    <div class="main-article">
                        <H3 class="nombre-producto">Cafetera Moulinex</H3>
                        <p class="Precio-unidad">$166.770</p>
                        <p class="Precio-total">$166.770</p>
                        <button class="quantity--input__button quantity--input__incr" onclick="cartPage.quantityHandler(event, false)">-</button>
                        <INPUT TYPE="NUMBER" MIN="0" MAX="15" STEP="1" VALUE="6" SIZE="6">
                        <button class="quantity--input__button quantity--input__incr" onclick="cartPage.quantityHandler(event, false)">+</button>
                        <button type="reset" name="borrar"><i class="fas fa-times-circle"></i></button>
                    </div>   
                    <div>
                        <a href="/">Seguir comprando</a>
                    </div>
                    <div class="formulario">
                        <form method="post">
                            <label for="formulario">Notas adicionales</label>
                            <div class="textarea">
                                <textarea name="formuario-notas" id="notas-adicionales" cols="30" rows="10"></textarea>
                            </div>
                                
                            
                        </form>
                    </div>
                </article>
            </div>   
        </section>
    </main>

    <footer>
       
        <section class="pie_pagina">
            <div class="logo_footer"> 
                <img src="images/logo.png" alt="Logo CoffeShop">
            </div>
            <hr style="color: #b20000;" />
            <article>
                <div class="pasarela_pago">
                  
                    <i class="fas fa-credit-card"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                    
                    <p class="descripcion_pasarela">
                        Con CoffeShop, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
            </article>
            <article>
                <div class="envio">
                    <i class="fas fa-gift"></i>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p class="descripcion_envio">
                        Solo por estar registrad@ en CoffeShop tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
            </article>
            <article>
                <div class="seguridad">
                    
                    <i class="fas fa-user-shield"></i>
                    <h5>Seguridad, de principio a fin</h5>
                   
                    <p class="descripcion_seguridad">
                        ¿No te gusta? ¡Devolvelo! En CoffeShop, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div>
            </article>
        </section>

        <section class="Copyright">
            
            <p>Copyright © 2022 CoffeShop</p>
           
        </section>


    </footer>
    
</body>

</html>