/* paleta de colores 
#b8aca5
#900E1E
#000000
#c6a15b
#4a6554
#c6a15b*/

#header{
    position: sticky;
}

main section.product div article div.img-product{
    display: flex;
    justify-content: center;
}

.img-product img{
    width: 70%;
}

main{
    margin: 5px;
}

main section.Cart{
    display: flex;
    justify-content: space-between;
}

main section.product div article hr{
    width: 75%;
    margin: auto;
    margin-bottom: 5px;
}

main section.product div article h3{
    text-align: center;
    margin-bottom: 7px;
}

main section.product div article div.main-article{
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 7px;
}

main section.product div article div.main-article div{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

main section.product div article div.main-article div button{
    width: 15px;
}

main section.product div article div.main-article div input{
    width: auto;
}

main section.product div article div.main-article button{
    width: 18px;
}

main section.product div article div.main-article p{
    display: flex;
    align-items: center;
}

main section.product div article div.pay-for-cart{
    text-align-last:center ;
}

main section.product div article div.pay-for-cart button.pay{
    background-color: #3D8705;
    color:white;
    border: 1px solid #3D8705;
    border-radius: 4px;
    width: 25%;
    height: 25px;
}

/*main section.Cart div.pay-for-cart a{
    font-size: 13px;
    text-decoration: none;
    transition: color, text-decoration, 50ms;
}

main section.Cart div.pay-for-cart a:hover{
    color: #000000;
    text-decoration: underline;
}

main section.Cart div a:hover{
    color: #000000;
}*/

main section.product article div.formulario{
    display: flex;
    width: 70%;
}

.formulario{
    
    display: inline;

}

#notas-adicionales{
    width: 100%;
}

#footer{
    position:static
}