/* paleta de colores 
#b8aca5
#900E1E
#000000
#c6a15b
#4a6554
#c6a15b*/

body{
    background: url(https://images.unsplash.com/photo-1538645731800-4640c639bba7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);
    
}

main .imagen-principal img, main .imagen-principal{
    width: 100%;
}

/* main .imagen-principal{
        position: fixed;
}

 .imgppal1 {
    z-index: 1;
  }
.imgppal2 {
    z-index: 3;
  }  */

main .imag-producto img{
     width: 100%;
 }

.datos-producto{
    display:flex;
    flex-direction:column;
    margin: 1rem;
    align-items:center;
    
}


.titulo-producto, .descripcion-producto, .oferta-producto, .condiciones-producto{
    margin: 0.5rem;
}

.datos-producto .descripcion-producto{
   text-align:center;
}

.producto .mas-informacion{
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 2rem;
    border: 1px solid black
}

.art-prod-relacionados{
    margin: 1rem;
}


.prods-principales .imag-producto{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 40px;
}


.prods-principales i{
    font-size: 2rem;
}


.imag-producto-relacionados{

        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;

}



.info-producto-relacionado{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

.precio-producto-relacionado-agregar{
    width: 25%;
    display:flex;
    justify-content: space-around;

}

.titulo-productos-relacionados{
    margin-left: 10px;
    text-align: center;
    
}

.art-prod-relacionados i{
    font-size: 2rem;
}



@media (min-width: 600px){

    main .imagen-principal img, main .imagen-principal{
        height: 79vh;
    }
    

    .producto{
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        text-align: center;
        
        
        
    }

    .mas-informacion{
        width: 20%;
        
    }
}