* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "BIZ UDPGothic", sans-serif;
}

/* *********Header******** */

#header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

#header .primera-barra,
#header .barra-navegacion {
  background-color: rgb(0, 0, 0);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .primera-barra .logo {
  width: 7rem;
  display: flex;
  margin-left: 5px;
}

#header .primera-barra .logo img {
  max-width: 100%;
  height: auto;
}

#header .primera-barra .usuario-carrito {
  display: flex;
  margin-right: 8px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

#header .primera-barra .usuario-carrito .usuario {
  margin-right: 8px;
  margin-left: 8px;
}

#header .primera-barra .usuario-carrito a,
#header .primera-barra .usuario-carrito a:hover,
#header .primera-barra .usuario-carrito a:focus,
#header .primera-barra .usuario-carrito a:active {
  text-decoration: none;
  color: inherit;
}

#header .barra-navegacion {
  background-color: #900e1e;
}

#header .barra-navegacion ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}

/* #header .barra-navegacion .ul li{

} */

#header .barra-navegacion ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}

#header .barra-navegacion ul li a i {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.contenedor-desplegable {
  position: relative;
  display: inline-block;
}

.contenido-desplegable {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  opacity: 0;
}

.mostrar-contenido {
  display: block;
  opacity: 1;
}

#desplegable {
  transform: translate(-65px, 13px);
  font-size: 1rem;
  background-color: black;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contenido-desplegable {
  min-width: 150px;
}

.opciones-despleglable {
  display: block;
}

/* *********Footer******** */

#footer {
  background: black;
  position: static;
}

#footer .logo-footer {
  width: 10rem;
  margin: auto;
  margin-top: 0.5rem;
}

#footer .logo-footer img {
  width: 100%;
  height: auto;
}

#footer hr {
  width: 75%;
  margin: auto;
}

#footer .siguenos {
  color: white;
  text-align: center;
  margin-top: 0.5rem;
}

#footer .contenedor-redes-sociales {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#footer .copyright {
  background: white;
}

#footer .copyright .texto-copyright {
  color: black;
  font-size: 0.5rem;
  text-align: center;
}
