header .registro {
    display: flex;
    direction: rows;
    align-items: center;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 12px;
    justify-content: right;


}

body header .login i {
    font-size: 2em;
    color: #FFF;
    margin-bottom: 10px;
    padding-right: 30px;
}

main.login {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    margin-top: 150px
}

.login input {
    display: flex;
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 5px;
    margin-bottom: 5px;
    font-size: small;

}

.login ::placeholder {
    color: #b2afaf;
    font-family: 'MOMCAKE', sans-serif;
}


div.register-login-box {
    display: inline-block;
    width: 90%;
}

div.register-login-box button {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

.register-login-button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.register-login-banner a {
    text-decoration: none;
    color: #090808;
    transition: text-decoration 1000ms;
}

.register-login-banner a:hover {
    text-decoration: underline;
    color: #900E1E
}

.register-login-banner {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    align-items: center;
}

.loginApple button,
.loginGoogle button {
    display: flex;
    width: 80%;
    align-content: center;
    width: 90%;
}


.loginButton a,
.registerButton a {
    display: inline;
    align-content: center;
    width: 40%;
    text-decoration: none;

}


.loginButton a button,
.registerButton a button {
    display: flex;
    width: 100%;
    align-content: center;

}


.buttonBox {
    display: flex;
    width: 100%;
    align-content: center;
    margin-block: 15px;
}

.forgotPassword {
    text-decoration: underline;
}