#main,
#main .seccion-imagen-principal {
  height: 100%;
}

#main .seccion-imagen-principal .imagen-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/imag-principal.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#main .seccion-imagen-principal .imagen-hero .texto-hero {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(206, 199, 199);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3rem;
}

#main .seccion-productos-principales .productos-principales {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .flecha-izquierda {
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 1rem;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  transform: translateX(-40%);
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .flecha-derecha {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1rem;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  transform: translateX(40%);
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .imagen-producto-principal {
  width: 20rem;
  transform: translateY(-14%);
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .imagen-producto-principal
  img {
  width: 100%;
  height: auto;
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .informacion-producto-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 3rem;
  transform: translateY(-14%);
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .informacion-producto-principal
  .titulo-producto-principal {
  font-size: 2.5rem;
  text-align: center;
  line-height: 4rem;
  text-transform: uppercase;
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .informacion-producto-principal
  .descripcion-producto-principal {
  font-size: 0.8rem;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .informacion-producto-principal
  .oferta-producto {
  font-size: 0.9rem;
  text-align: center;
  color: #3d8705;
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .informacion-producto-principal
  .condiciones-producto {
  font-size: 0.5rem;
}

#main
  .seccion-productos-principales
  .productos-principales
  .contenedor-producto-principal
  .informacion-producto-principal
  .mas-informacion {
  text-decoration: none;
  margin-top: 2rem;
  color: white;
  background: #3d8705;
  padding: 1rem;
  border: 1px solid #3d8705;
  border-radius: 4px;
}
