/* paleta de colores 
#b8aca5
#900E1E
#000000
#c6a15b
#4a6554
#c6a15b*/

#header{
    position: sticky;
}
div.img-product{
    display: flex;
    justify-content: center;
}
img.product_img{
    width: 50%;
}
hr{
    width: 50%;
    margin: auto;
    margin-top: 2px;
}
div.main-article h1{
   text-align: center;
   padding-top: 10px;
}
article{
    display: flex;
    flex-direction: column;
}
article div.main-article{
    text-align: center;
}
article div.main-article div.price{
    /*display: flex;*/
    justify-content: space-evenly;
}
article div.main-article div.price p.price{
    margin-left: 5%;
    align-self: center;
    font-size: 18px;
}
div.spinner button.quantityMas{
    font-size: 1.5rem;
    color: #fff ; ;
    background-color: #bc0909;
    width: 40px;
}
div.spinner button.quantityMenos{
    font-size: 1.5rem;
    color: #fff ; ;
    background-color: #bc0909;
    width: 40px;
}
div.spinner input{
    font-size: 1.5rem;
    width: 40px;
    text-align: center;
}
article div.main-article div.pay button{
    background-color: #4a6554;
    color: white;
    border: 1px solid #4a6554;
    border-radius: 4px;
    height: 35px;
    width: 150px;
    font-size: 1rem;
}
div.back-to-buy{
    width: 210px;
    align-self: center;
}
div.back-to-buy a{
    text-decoration: none;
    color: black;
}
div.another-container{
display: flex;
margin-left: 8%;
justify-content: space-between;
}
div.form{
    display: flex;
}
div.textarea textarea{
    width: 80%;
    height: 80px;
}
#footer{
    position: static; 
    
}
@media (max-width: 361px){
    div.spinner button.quantityMas{
        font-size: 1rem;
        color: #fff ; ;
        background-color: #bc0909;
        width: 30px;
    }
    div.spinner button.quantityMenos{
        font-size: 1rem;
        color: #fff ; ;
        background-color: #bc0909;
        width: 30px;
    }
    div.spinner input{
        font-size: 1rem;
        width: 30px;
        text-align: center;
    }
    article div.main-article div.pay button{
        background-color: #4a6554;
        color: white;
        border: 1px solid #4a6554;
        border-radius: 4px;
        height: 25px;
        width: 100px;
    }
    article div.main-article div.price p.price{
        margin-left: 5%;
        align-self: center;
        font-size: 15px;
    }
    div.back-to-buy{
        width: 85%;
    }
}
@media (min-width: 769px){
    div.img-product{
        background-color: #fff; 
        display: flex;
        flex-direction: row-reverse;
    }
    article{
        display: flex;
        flex-direction: row;
        width: 75%;
        margin-left: 8%;
    }
    article div.main-article{
        width: 100%;
        text-align: center;
        margin: 50px 0px;
        align-self: center;
    }
    img.product_img{
        width: 350px;
    }
    div.main-article h1{
        text-align: center;
        padding-top: 10px;
        font-size: 22px;
     }
    hr{
        display: none;
    }
}
