/* paleta de colores 
#b8aca5
#900E1E
#000000
#c6a15b
#4a6554
#c6a15b*/

#header{
    position: sticky;
}

main section.product div article div.img-product{
    display: flex;
    justify-content: center;
}

.img-product img{
    width: 70%;
}

main{
    margin: 5px;
}

main section.Cart{
    display: flex;
    justify-content: space-between;
}

main section.product div article hr{
    width: 75%;
    margin: auto;
    margin-bottom: 5px;
}

main section.product div article div.pay-for-cart{
    display: flex;
    justify-content: center;
}

main section.product div article div.pay-for-cart button.pay{
    background-color: green;
    color:white;
    border: solid;
    border-radius: 5px;
    width: 25%;
    height: 25px;
}

main section.Cart div.pay-for-cart a{
    font-size: 13px;
    text-decoration: none;
    transition: color, text-decoration, 50ms;
}

main section.Cart div.pay-for-cart a:hover{
    color: #000000;
    text-decoration: underline;
}

main section.Cart div a:hover{
    color: #000000;
}

main section.product article div.formulario{
    display: flex;
    width: 70%;
}

.formulario{
    
    display: inline;

}

#notas-adicionales{
    width: 100%;
}

#footer{
    position:static
}