/* paleta de colores 
#b8aca5
#900E1E
#000000
#c6a15b
#4a6554
#c6a15b*/

#header{
    position: sticky;
}

main section.product div article div.img-product{
    display: flex;
    justify-content: center;
}

.img-product img{
    width: 70%;
}

main{
    margin: 5px;
}

main section.Cart{
    display: flex;
    justify-content: center;
}

main section.product div article hr{
    width: 75%;
    margin: auto;
    margin-bottom: 5px;
}

main section.product div div.section{
    display: flex;
    justify-content: space-around;
}

main section.product div article h3{
    text-align: center;
    margin-bottom: 7px;
}

main section.product div div.main-article{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    padding-top: 10px;
    height: 50px;
}

main section.product div div div.button-section{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

main section.product div div div button{
    font-size: 1.5rem;
    color: #fff ; ;
    background-color: #bc0909;
    width: 40px;
}


main section.product div div button{
    font-size: 1.5rem;
    color: #fff ;
    background-color: #bc0909;
    width: 40px;
}

main section.product div div div input{
    font-size: 1.5rem;
    width: 40px;
    text-align: center;

}



main section.product div div p{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
}

main section.product div div.pay-for-cart{
    text-align-last:center ;
    padding: 10px;
}

main section.product div div.pay-for-cart button.pay{
    background-color: #4a6554;
    color:white;
    border: 1px solid #4a6554;
    border-radius: 4px;
    width: 25%;
    height: 30px;
    font-size: 1rem;
}

/*main section.Cart div.pay-for-cart a{
    font-size: 13px;
    text-decoration: none;
    transition: color, text-decoration, 50ms;
}

main section.Cart div.pay-for-cart a:hover{
    color: #000000;
    text-decoration: underline;
}

main section.Cart div a:hover{
    color: #000000;
}*/

main section.product div div div.buy{
    display: flex;
    align-items: center;
}
main section.product div div div.buy i{
    margin: 5px;
    padding-right: 5px ;
}
main section.product div div div.buy a{
    color:black;
    text-decoration: none;
}

main section.product div div a{
    text-decoration: none;
    color: inherit;
}

main section.product div div div.formulario{
    display: flex;
    width: 70%;
    padding-top: 5px;
    padding-left: 18px;
}
#notas-adicionales{
    width: 100%;
}

#footer{
    position:static
}

@media (min-width: 769px){
    main section.product div article{
        display: flex;
    }
    .img-product img{
        width: 400px;
    }
    main .productDetails article .quantityMas{
        font-size: 1.5rem;
        color: #fff ; ;
        background-color: #bc0909;
        width: 40px;
    }
    
    
    main .productDetails article .quantityMenos{
        font-size: 1.5rem;
        color: #fff ;
        background-color: #bc0909;
        width: 40px;
    }
    
    main .productDetails article .inputSpinner{
        font-size: 1.5rem;
        width: 40px;
        text-align: center;
    
    }
    
}