<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-productCreation.css">

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

<main class="createProduct">
    <div class="createProduct-box">
        <div class="createProduct-banner">
            <div class="createProduct-button">
                <a href="/product/create-product">Crear producto</a>
            </div>
        </div>

        <!--     <div class="loginApple">
                <button>Continuar con Apple</button>
            </div>
            <div class="loginGoogle">
                <button>Continuar con Google</button>
            </div>
-->


<<<<<<< Updated upstream
        <form action="/products/create-congrats" method="get">
=======
        <form action="/products/congrats" method="get">
>>>>>>> Stashed changes

            <div class="form-productCreation">
                <div class="productNameField">
                    <label>Nombre del producto</label><input type="text" required name="name"
                        placeholder="elija un nombre descriptivo"></input>
                </div>
                <div class="Descripción del tipo de café">
                    <label>Descripción del tipo de café</label><input type="text" name="description"
                        placeholder="Mínimo 20 carateres."></input>
                </div>
                <div>
                    <p>
                        Sube imagenes del producto(máximo 6):
                        <input type="file" name="archivosubido">
                    </p>
                </div>
                <div class="size">
                    <label>Tamaño del contenedor</label><input type="text" name="size"
                        placeholder="Mínimo 500 grms."></input>
                </div>
                <div class="price">
                    <label>Precio del producto</label><input type="text" name="price"
                        placeholder="Mínimo 500 grms."></input>
                </div>
                <div class="category">
                    <label>Elegir categoría</label>
                    <select name="selectCategory">
                        <option value="value1">Café</option>
                        <option value="value2">Cafeteras</option>
<<<<<<< Updated upstream
                        <option value="value3">Accesorios</option>

=======
>>>>>>> Stashed changes
                    </select>
                </div>

                <div class="buttonBox">
                    <div class="createButton">
                            <button type="submit">Publicar productos</button>
                    </div>
                </div>

            </div>
    </div>


    </form>
</main>

<!-- Footer -->
<%- include("./partials/footer.ejs") %>

</body>

</html>