<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-productCreation.css">
<script src="/js/products/productValidations.js"></script>
</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

<main class="createProduct">
    <div class="createProduct-box">
        <div class="createProduct-banner">
            <div class="createProduct-button">
                <a href="/admin/create-product-form">Crear producto</a>
            </div>
        </div>
        <ul class="errores"></ul> 
        <br>
        <br>
        <form action="" class="createProductForm" method="POST" enctype="multipart/form-data">

            <div class="form-productCreation">
                <div class="productNameField">
                    <label>Nombre del producto</label><input type="text" name="name" id="nameProduct"
                        placeholder="elija un nombre descriptivo"></input>
                </div>
                <div class="Descripción del tipo de café">
                    <label>Descripción del tipo de café</label><input type="text" name="description" id="descriptionProduct"
                        placeholder="Mínimo 20 carateres."></input>
                </div>
                <div class="price">
                    <label>Precio del producto</label><input type="number" name="price" id="priceProduct"
                        placeholder="Mínimo 500 grms."></input>
                </div>
                <div>
                    <p>
                        Sube una imágen del producto):
                        <input type="file" name="imgPath">
                    </p>
                </div>
                <div class="size">
                    <label>Tamaño del contenedor</label><input type="number" name="size" id="tamanoProduct"
                        placeholder="Mínimo 500 grms."></input>
                </div>
                <div class="category">
                    <label>Elegir categoría</label>
                    <select name="category">
                        <option value="value1">Café</option>
                        <option value="value2">Cafeteras</option>
                        <option value="value3">Accesorios</option>

                    </select>
                </div>  
                <div class="discount">
                    <label>Agregue % de descuento del producto</label><input type="number" name="discount" id="discountProduct"
                        placeholder="Máximo 99%."></input>
                </div>

                <div class="offer">
                    <label>¿Está en oferta?</label>
                    <div class="offerButtons">
                        <input type="radio" name="offer" value=true>
                        Si 
                        </input>

                        <input type="radio" name="offer" value=false>
                        No 
                        </input>
                    </div>
                </div>
                <div class="buttonBox">
                    <div class="createButton">
                        <button type="submit"><strong>Publicar</strong></button>
                    </div>
                </div>

            </div>
    </div>


    </form>
</main>

<!-- Footer -->
<%- include("./partials/footer.ejs") %>


</body>

</html>