<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-productCongrats.css">

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

    <main class="congrats">
        <div class="congratsMessage">
            <label>PRODUCTO EDITADO</label>
        </div>
    </main>
    
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    
</body>

</html>