<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head'); %>

    <body>
        <%- include('./partials/header'); %>

    <main class="login">
        <div class="register-login-box">
            <div class="register-login-banner">
            <div class="register-login-button">
                <a href="/user/register">Registrarse</a>           
             </div>
            <div class="register-login-button">
                <a href="/user/login">Inciar sesión</a>
            </div>
        </div>

            <div class="loginApple">
                <button>Continuar con Apple</button>
            </div>
            <div class="loginGoogle">
                <button>Continuar con Google</button>
            </div>

        

            <form action="" method="post">
               
                <div class="form-login-register">
                    <div class="correoElectronicoField">
                        <label>Correo electrónico</label><input type="text" required name="name"
                            placeholder="Solo carateres abc"></input>
                    </div>
                    <div class="passwordField">
                        <label>Contraseña</label><input type="password" name="password"
                            placeholder="Mínimo 6 carateres y una mayúscula"></input>
                    </div>
                    <div class="forgotPassword">
                        <label>Olvide mi contraseña<a href="/forgot-password"></a></label>
                    </div>
                </div>
        </div>


        </form>
    </main>
    
 <%- include('./partials/footer'); %>
    
</body>

</html>