<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/momcake" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-productDetail.css">

    <title>CoffeShop</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <a href="/"><img src="images/logo.png" alt="Logo CoffeShop">
            </div>
            <div class="registro">
                <div class="login"> 
                    <a href="/register"><i class="fas fa-user"></i>
                </div>
                <div class="compras"> 
                    <a href="/shoppingCart"><i class="fas fa-shopping-basket"></i>
                </div>

            </div>
        </div>
        <div class="barra-secundaria">
        <nav>
            <ul>
                
                <li><a href="#"><i class="fas fa-coffee"></i>  Café</a></li>
                <li><a href="#"><i class="fas fa-home"></i>  Tiendas </a></li>
                <li><a href="#"><i class="fas fa-gift"></i>  Regalos</a></li>
            </ul>
            
        </nav>
    </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <section class="productDetails">
            <div class="products">
                <article>
                    <div class="imagen-producto"><img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img"></div>
                    <div class="main-articlepd">
                        <h4 class="Nombre Producto">Cafetera Moulinex</h4>
                        <p class="price">$166.770</p>
                        <p class="descripcion">Cafetera automática de sistema de cápsulas de 15 bares de presión; capaz de hacer café de calidad profesional.</p>
                        <br>
                        <br>
                        <div class="spinnerQty">
                        <button class="quantityMas">+</button>
                        <INPUT TYPE="NUMBER" MIN="0" MAX="100" STEP="1" VALUE="1" class="inputSpinner">
                        <button class="quantityMenos" >-</button>
                        <button type="reset" name="borrar"><i class="fas fa-times-circle"></i></button>
                        </div>
                        <br>
                        <div>Disponible en stock: 15</div>
                        <br><br>
                        <div class="comprar">
                          
                            <a href="\shoppingCart" class="btncomprar">COMPRAR AHORA</a>
                        </div>
                    </div>
                    
                </article>
            </div>
        </section>
        <section class="calificaciones-positivas">
         <div class="calificaciones">
             <h1>Calificaciones positivas</h1>
             <br><br><br>
             <div class="estrellas" >
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
                <h1>Andrea Palacios</h1>
           <article>
            <i class="fas fa-angle-left"></i>
            <img src="images/clientea.png" alt="Cafetera" class="product_img">
            <i class="fas fa-angle-right"></i>
           </article>
         </div>
        </section>
        <section class="por-que-elegimos">
            <div class="elegimos">
                <br>
                <h1>Por que lo elegimos</h1>
                <br>
              <article>
               <p>Me encanta el sabor de capsulas para Dolce, esta Maquina es super amigable y funciona perfectamente y te indica todo muy claro.</p>
              <br>
              <img src="images/elegimos.jpg" alt="Cafetera" class="product_img">
            </article>
            </div>
           </section>
    </main>       
    <footer>
       
        <section class="pie_pagina">
            <div class="logo_footer"> 
                <img src="images/logo.png" alt="Logo CoffeShop">
            </div>
            <hr style="color: #b20000;" />
            <article>
                <div class="pasarela_pago">
                  
                    <i class="fas fa-credit-card"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                    
                    <p class="descripcion_pasarela">
                        Con CoffeShop, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
            </article>
            <article>
                <div class="envio">
                    <i class="fas fa-gift"></i>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p class="descripcion_envio">
                        Solo por estar registrad@ en CoffeShop tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
            </article>
            <article>
                <div class="seguridad">
                    
                    <i class="fas fa-user-shield"></i>
                    <h5>Seguridad, de principio a fin</h5>
                   
                    <p class="descripcion_seguridad">
                        ¿No te gusta? ¡Devolvelo! En CoffeShop, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div>
            </article>
        </section>

        <section class="Copyright">
            
            <p>Copyright © 2022 CoffeShop</p>
           
        </section>


    </footer>
    
</body>

</html>