<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-register.css">

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>
    <main class="register">
        <div class="register-login-box">
            <div class="register-login-banner">
            <div class="register-login-button">
                <a href="/user/register">Registrarse</a>           
             </div>
            <div class="register-login-button">
                <a href="/user/login">Inciar sesión</a>
            </div>
        </div>

            <form action="" method="post">

                <div class="form-login-register">
                    <div class="nameField">
                        <label>Nombre</label><input type="text" required name="name"
                            placeholder="Solo carateres abc"></input>
                    </div>
                    <div class="lastnameField">
                        <label>Apellido</label><input type="text" name="lastname"
                            placeholder="Solo carateres abc"></input>
                    </div>
                    <div class="emailField">
                        <label>Correo electrónico</label><input type="email" name="email"
                            placeholder="minombre@xxxx.com.xx"></input>
                    </div>
                    <div class="passwordField">
                        <label>Contraseña</label><input type="password" name="password"
                            placeholder="Mínimo 6 carateres y una mayúscula"></input>
                    </div>
                    <div class="phoneField">
                        <label>Teléfono celular</label><input type="phone" name="phone"
                            placeholder="Mínimo 8 caracteres"></input>
                    </div>
                </div>
        </div>


        </form>
    </main>

      <!-- Footer -->
      <%- include("./partials/footer.ejs") %>

</body>

</html>