<footer>

    <section class="pie_pagina">
        <div class="logo_footer">
            <img src="/images/logo.png" alt="Logo CoffeShop">
        </div>
        <hr style="color: #b20000;" />
        <article>
            <div class="pasarela_pago">

                <i class="fas fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>

                <p class="descripcion_pasarela">
                    Con CoffeShop, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
        </article>
        <article>
            <div class="envio">
                <i class="fas fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p class="descripcion_envio">
                    Solo por estar registrad@ en CoffeShop tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
        </article>
        <article>
            <div class="seguridad">

                <i class="fas fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>

                <p class="descripcion_seguridad">
                    ¿No te gusta? ¡Devolvelo! En CoffeShop, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </article>
    </section>

    <section class="Copyright">

        <p>Copyright © 2022 CoffeShop</p>

    </section>


</footer>