<header id="header">
    <div class="primera-barra">
        <div class="logo">
            <img src="/images/barizta-logo.png" alt="Logo Barizta">
        </div>
        <div class="usuario-carrito">
            <div class="usuario"><i class="fa-solid fa-user"></i></div>
            <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
    </div>
    <nav class="barra-navegacion">
        <ul>
            <li><a href="#"><i class="fas fa-coffee"></i> Café</a></li>
            <li><a href="#"><i class="fas fa-home"></i> Tiendas </a></li>
            <li><a href="#"><i class="fas fa-gift"></i> Regalos</a></li>
        </ul>
    </nav>
</header>