<header id="header">
    <div class="primera-barra">
        <div class="logo">
         <a href="/"><img src="/images/barizta-logo.png" alt="Logo Barizta"></a>
        </div>
        <div class="form-search-bar" action="#" method="GET">
            <form action="/" method="POST">
                <div class="nameField">
                <input type="text" name="name" placeholder="Buscar productos, marcas y más">
            </div>
           </div> 
        <div class="usuario-carrito">
            <% if(isLogged) {%> 
                <div><%= userLogged.name%></div>
                <a href="/user/userProfile"><div class="usuario"><i class="fa-solid fa-user"></i></div></a>
             <% }else{ %>
                <a href="/user/register"><div class="usuario"><i class="fa-solid fa-user"></i></div></a>
            <%} %>    
         
         <a href="/shopping-cart/1"><div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div></a>
        </div>
    </div>
    <nav class="barra-navegacion">
        <ul>
            <li><a href="/products"><i class="fas fa-coffee"></i> Productos</a></li>
            <li><a href="#"><i class="fas fa-home"></i> Tiendas </a></li>
            <li><a href="#"><i class="fas fa-gift"></i> Regalos</a></li>
            <% if(isLogged && userLogged.admin) {%> 
            <li><a href="/admin/create-product"><i class="fa-solid fa-square-plus"></i></i> Agregar</a></li>
            <% } %> 
        </ul>
    </nav>
</header>